<div class="city-edit">
  <h1>{{ title }}</h1>
  @if (id && !city) {
    <p><em>Loading...</em></p>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @if (form.invalid && form.hasError('isDupeCity')) {
      <p>
        <mat-error>
          <strong>ERROR</strong>
          A city with the same <i>name</i>, <i>latitude</i>, <i>longitude</i> and <i>country</i> already exists.
        </mat-error>
      </p>
    }

    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required placeholder="Type a name">
      @for (error of getErrors('name', 'Name'); track error) {
        <mat-error>
          {{ error }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Latitude:</mat-label>
      <input matInput formControlName="latitude" required placeholder="Insert latitude">
      @for (error of getErrors('latitude', 'Latitude'); track error) {
        <mat-error>
          {{ error }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Longitude:</mat-label>
      <input matInput formControlName="longitude" required placeholder="Insert longitude">
      @for (error of getErrors('longitude', 'Longitude'); track error) {
        <mat-error>
          {{ error }}
        </mat-error>
      }
    </mat-form-field>

    @if (countries | async) {
      <mat-form-field>
        <mat-label>Select a Country...</mat-label>
        <mat-select id="countryId" formControlName="countryId">
          @for (country of countries | async; track country.id) {
            <mat-option [value]="country.id">
              {{ country.name }}
            </mat-option>
          }
        </mat-select>
        @for (error of getErrors('countryId', 'Country'); track error) {
          <mat-error>
            {{ error }}
          </mat-error>
        }
      </mat-form-field>
    }

    <div>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
        {{ this.id ? 'Save' : 'Create' }}
      </button>
      <button mat-flat-button color="secondary" [routerLink]="['/cities']">
        Cancel
      </button>
    </div>
  </form>
</div>

<!-- Form debug info panel -->
<div class="info">
  <div class="info-header">Form Debug Info</div>
  <div class="info-body">
    <div class="info-label"> Form Value:</div>
    <div class="info-value"> {{ form.value | json }}</div>
    <hr/>
    <div class="info-label"> Form Status:</div>
    <div class="info-value"> {{ form.status | json }}</div>
  </div>
</div>
