<div class="login">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            @if (loginResult && !loginResult.success) {
            <mat-error>
                <strong>ERROR</strong>: {{loginResult.message}}
            </mat-error>
            }
        </p>

        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" required placeholder="Insert email" />
            @for (error of getErrors('email', 'Email'); track error) {
                <mat-error>
                    {{error}}
                </mat-error>
            }
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" required type="password" placeholder="********" />
            @for (error of getErrors('password', 'Password'); track error) {
                <mat-error>
                    {{error}}
                </mat-error>
            }
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" type="submit">Login</button>
            <button mat-flat-button color="secondary" [routerLink]="['/']">Cancel</button>
        </div>
    </form>
</div>
